/*  컬러 리스트
        1. RGB(web) IP GREEN    #B9DCB7
        2. RGB(web) IN YELLOW   #FFF68C
        3. RGB(web) CHEON PINK  #FF90F3
        4. RGB(web) JI BLUE     #1F469A
    흑백 리스트
        1. MONO 1               #000000 black
        2. MONO 2               #EDEDED
        3. MONO 3               #8A8A8A
        4. MONO 4               #ffffff white
*/
/*  폰트 font-family: sandoll-gothicneo1, sans-serif;
    굵기 100 200 300
*/





/* 기본 css 구조 */


html            {font-size: 10px;}

.font300        {font-weight: 300; font-size: 3rem;}

body            {font-family: sandoll-gothicneo1, sans-serif; line-height: 170%;
                 margin: 0;
                 background-color: #EDEDED;
                }

h2              {font-size: 3rem; font-weight: 300; line-height: 150%; margin: 0;}
h3              {font-size: 2.7rem; font-weight: 200; line-height: 150%; margin: 0;}
h4              {font-size: 1.8rem; font-weight: 300; line-height: 150%; margin: 0;}


.container      {display: grid;
                 grid-template-areas:" main   main "
                                     "   .     .   "
                                     "footer footer";
                }

.about          {padding-top: 3rem; padding-left: calc(100vw / 7); padding-right: 100px;
                 display: flex; flex-direction: row;
                 justify-content: space-between;
                }
.title          {display: flex; flex-direction: column;}





/* 방명록 시작 */

/* 입력창 */
.input          {position: fixed; top: 0; left: 0;
                 width: calc(100% - 80px); height: 5%;
                 padding: 20px 40px 10px;

                 display: flex; flex-direction: row;
                 justify-content: space-between;
                 align-items: center; align-content: flex-start;

                 background-color: #EDEDED; color: #FF8BF6;
                 z-index: 2;
                }
/* 방명록 입력 */
input           {width: calc(100% - 200px);
                 background-color: transparent; color: #8A8A8A;
                 border-top: none; border-left: none; border-right: none; border-width: 2px;
                 outline: none;
                 padding: 1rem;
                }
/* 방명록 제출 */
.submit         {border: 0; width: 70px;
                 outline: none; text-decoration: none;
                }


/* 방명록 리스트 */
.guest-area     {grid-area: guest;
                 position: sticky; top: calc(5vh + 30px);

                 padding: 10px 0px 50px;

                 display: flex;
                 align-items: center;

                 background-color: #EDEDED; color: white;
                 z-index: 2;
                }

.guest          {display: flex; flex-wrap: nowrap;
                 align-items: center;
                 overflow-x: auto; overflow-y: hidden;
                }

/* 목록 구조(stem - 줄기 / leaf - 잎) */
.stem           {width: 35px; height: 15px; padding-left: 3rem;
                 background-color: white;
                }
.leaf           {height: 70px; 
                 margin-left: -5px; margin-right: 15px;
                 padding: 40px; 

                 display: inline-flex; 
                 align-items: center; gap: 15px;

                 background-color: white; border-radius:50vh;
                }

.more           {width: 70px; height: 70px;
                 display: flex; gap: 10px; justify-content: center; align-items: center;
                }
.round          {width: 1rem; height: 1rem; border-radius: 50%; background-color: #8A8A8A;}
                

/* 방명록 끝 */





/* 내용 시작 */

.main           {grid-area: main;
                 margin-top: calc(5vh + 30px);
                 width: 100vw;
                 overflow-y: scroll; overflow-x: hidden;
                }

/* 회색 영역 */
.gray-section   {height: calc(95vh - 50px); width: 100vw;}
.wordmark       {width: calc(100vw - 60px); padding-left: 20px;}

/* 노란 영역 */
.yellow-section  {width: 100vw; height: calc(95vh - 210px);
    display: flex; flex-direction: column;
    justify-content: space-between;
    background-color: #FFF68C;
   }
.basic-graphic  {padding-bottom: 3rem; padding-left: 30px; width: calc(100vw - 60px);}

/* 초록 영역 */
.green-section {width: 100vw; height: calc(95vh - 210px);
                 background-color: #EDEDED;
                }
.left-109       {margin-left: 10rem;}
.img-move       {display: flex; justify-content: space-between; padding-left: 3rem; padding-right: 3rem;}
.right-leaf     {display: flex; flex-direction: row-reverse; margin-right: 10rem;}
.book           {display: flex; top: -68vh;position: relative; margin-left: 00vw;}
.book1          {width: 45vw; object-fit: contain; margin-left: 27.5vw; margin-right: 27.5vw;}
.book2          {width: 45vw; object-fit: contain; margin-left: 27.5vw; margin-right: 27.5vw;}
.book3          {width: 45vw; object-fit: contain; margin-left: 27.5vw; margin-right: 27.5vw;}

/* 분홍 영역 */
.pink-section   {width: 100vw; padding-bottom: 35rem;
                 background-color: #FF8BF6; color: white;
                }
.letter-exp     {
                 padding-left: 100px; padding-right: 100px; padding-bottom: 30rem;
                 display: flex; justify-content: flex-start; flex-wrap: wrap;
                 width: calc(100vw - 20rem);
                }
.letter-exp-block{padding: 10rem 0rem;
                 display: flex; flex-direction: column;
                 justify-content: space-between;
                }
.cards          {display: flex; gap: 1.5rem; margin: 5rem; height: 100%;}
.flip           {position: relative; perspective: 1100px; width: 12.5vw;}
.card           {position: relative; transition: .4s; transform-style: preserve-3d; width: 12.5vw; height: 19.2vw;}
.card-up        {padding-bottom: 80px; object-fit: contain; width: 12.5vw;}
.card-down      {padding-top: 80px; object-fit: contain; width: 12.5vw;}
.front, .back   {position: absolute; backface-visibility: hidden;}
.back           {transform: rotateY(180deg);}
.flip:hover .card  {transform: rotateY(180deg);}

/*height: calc(95vh - 210px);
*/
.exp            {display: flex; flex-direction: column; gap: 3rem; color: black; padding-top: 3rem; margin: 5rem;}




/* footer */
.footer         {display: flex; justify-content: space-between; align-items: center; 
                 padding: 50px;
                }
